// Custom styles.
body{
  z-index: 9;
}
.post {
  margin-bottom: 100px;
  padding: 25px;
  -webkit-box-shadow: 0 0 14px rgba(202,203,203,1);
  -moz-box-shadow: 0 0 14px rgba(202,203,203,1);
  background: #fff;
}

.footer-inner {
  text-align: center;
}
